* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
}

.App-header h1 {
  font-size: 50px;
  color: #8691a5;
}

/* Clear floats after the columns */
.App-column:after {
  content: "";
  display: table;
  clear: both;
}
/*
@media screen and (max-width: 800px) {
  .App-side {   
    width: 100%;
  }
}
*/

.App-side {
  float: left;
  min-width: 20em;
  width: 25%;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.App-main {
  float: left;
  width: 75%;
  background-color: #8691a5;
  color: white;
}

.App-footer {
  padding: 20px;
  text-align: center;
  background: #282c34;
  color: #8691a5;
  font-size: 8pt;
}

.Controls {
}

.View {
  vertical-align: auto;
}